@font-face {
    font-family: 'Muller';
    src: url('../fonts/Muller/Fontfabric - MullerRegular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/Muller/Fontfabric - MullerMedium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/Muller/Fontfabric - MullerBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/Muller/Fontfabric - MullerBlack.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
