*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

ul {
    list-style: none;
}

img,
picture {
    max-width: 100%;
    display: block;
}
