:root {
    --bg-color: #1E0D00;

    --primary-text-color: #fff;
    --secondary-text-color: #A3A3A3;

    --orange-gradient: linear-gradient(45deg, #FFA228 0%, #FF6432 100%);
    --bg-gradient: linear-gradient(180deg, #1E0C00 0%, #1F0700 31%, #170A00 69%, #1E0D00 100%);
    --modal-bg-gradient: linear-gradient(180deg,
    rgba(30, 12, 0, 0.8) 0%, rgba(31, 7, 0, 0.8) 31%,
    rgba(23, 10, 0, 0.8) 69%, rgba(30, 13, 0, 0.8) 100%);

    --font-weight-normal: 500;
    --font-weight-bold: 700;
    --font-weight-light: 400;
    --font-weight-extra-bold: 900;

    --font-size-s: 14px;
    --font-size-m: 16px;
    --font-size-l: 18px;
    --font-size-xl: 20px;
    --font-size-title: 56px;
}

body {
    background: var(--bg-gradient);
    font-family: 'Muller', sans-serif;
    color: var(--primary-text-color);
}

/*header*/
header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.header__container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 64px;
    max-width: 1980px;
    backdrop-filter: blur(20px);
}

.header__logo,
.nav__link--active {
    background: var(--orange-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.header__logo {
    font-weight: var(--font-weight-extra-bold);
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__actions .header__link {
    color: var(--primary-text-color);
    font-size: var(--font-size-m);
    transition: 0.3s ease;
}

.header__actions .header__link:hover {
    color: var(--orange-gradient);
    cursor: pointer;
}

.header__nav {
    height: 100%;
}

.nav__list {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav__item {
    position: relative;
    height: 40px;
}

.nav__link {
    display: flex;
    align-items: center;
    padding: 4px;
    justify-content: center;
    height: 100%;
    color: var(--secondary-text-color);
    text-decoration: none;
    transition: 0.3s ease;
}

.nav__link:hover {
    color: var(--primary-text-color);
    cursor: pointer;
}

.nav__link--active {
    display: flex;
    justify-content: center;
}

.nav__link--active::after {
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    bottom: -2px;
    border-radius: 50%;
    background: linear-gradient(90deg, #FFA228 0%, #FF6432 100%);
}


.header__login {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--orange-gradient);
    height: 40px;
    width: 164px;
    border-radius: 20px;
    font-size: var(--font-size-l);
    color: var(--primary-text-color);

}

.header__bag {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--orange-gradient);
    border-radius: 50%;
}

main {
    padding-top: 120px;
    max-width: 1980px;
    margin: 0 auto;
}

.header__burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 26px;
    height: 18px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.header__burger span {
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background: var(--orange-gradient);
    transition: 0.3s ease;
}

.nav__item--login {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/*hero-section*/

.title {
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-extra-bold);
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
}

.hero-section__description-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.description-text__lightning-icon {
    display: inline-block;
}

.description__text {
    width: 400px;
    font-size: var(--font-size-l);
    color: var(--secondary-text-color);
    line-height: 1.5;

    span {
        color: var(--primary-text-color);
    }
}

.hero__video-block {
    & > * {
        margin-bottom: 16px;
    }
}

.hero-section__banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner__img {
    height: 600px;
    width: 400px;
    border-radius: 48px;
    overflow: hidden;
    padding: 0;
}

.banner__img-item {
    width: 100%;
    height: 100%;
}

.banner__pizza-emoji, .banner__potatoes-emoji {
    width: 160px;
    height: auto;
    position: absolute;
}

.banner__potatoes-emoji {
    bottom: -60px;
    left: -60px;
}

.banner__pizza-emoji {
    top: -60px;
    right: -60px;
}

.hero__video-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/video-preview.png") center;
    background-size: cover;
    border-radius: 16px;
    width: 280px;
    height: 180px;
}

.hero__video-button {
    padding: 4px;
    border-radius: 50%;
    background: var(--orange-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
}
.video-button__triangle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
    width: 60px;
    height: 60px;
    background: var(--bg-color);
    cursor: pointer;

}
.video-button__triangle{
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    background: var(--orange-gradient);
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before{
        content: "";
        background: var(--bg-color);
        border-radius: 50%;
        width: 2px;
        height: 4px;
    }
}

.video-button__triangle {
    display: block;
    width: 20px;
    height: 20px;
}

.video--playing {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 16px;
    display: block;
    animation: fadeIn 0.4s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/*media*/

@media (min-width: 1440px) {
    .header__container {
        justify-content: space-around;
    }

    .hero-section {
        justify-content: space-around;
    }
}

@media (max-width: 1024px) {
    .header__burger {
        height: 40px;
        width: 40px;
        display: flex;
        padding: 8px 4px;
    }

    .header__actions > .header__login {
        display: none;
    }


    .nav__item {
        height: 40px;
    }

    .nav__list {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background: var(--modal-bg-gradient);
        justify-content: center;
        z-index: 10;
    }

    .nav__list.nav__list--open {
        display: flex;
    }

    .header__burger.active span:nth-child(1) {
        transform: rotate(-45deg) translateX(-15px);
    }

    .header__burger.active span:nth-child(2) {
        opacity: 0;
    }

    .header__burger.active span:nth-child(3) {
        transform: rotate(45deg) translateX(-15px);
    }
}

@media (max-width: 500px) {
    .header__container {
        padding: 0 16px;
    }
}
